.login-box {
  width: 350px;
  margin: 60px auto;
  padding: 25px;
  background: #fffaf0;
  border-left: 6px solid #7a0000;
  border-radius: 6px;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 15px;
}

.btn-login {
  width: 100%;
  padding: 10px;
  background: #8b0000;
  color: white;
}

.error {
  color: red;
  margin-top: 10px;
}
