.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.loading-box,
.empty-box,
.total-box {
  padding: 15px;
  background: #eef;
  border-radius: 8px;
  margin-bottom: 15px;
}

.total-box {
  background: #dfffdc;
  border-left: 5px solid #22aa22;
}

.orders-container {
  display: grid;
  gap: 20px;
}

.order-card {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
}

.items-box ul {
  padding-left: 20px;
}
.total {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
